.main-com{
    font-size: xx-large;
    margin-top: 14rem;
    font-family: Libra;
    font-size: 4rem;
}

.main-com2{
    font-size: 1.7rem;
}

.section2{
    margin-top: 7rem;
    background-color: #f3eaea;
}